<marquee style="background:#1e1f20; position: fixed; z-index:100 " width="100%" scrolldelay="20" scrollamount="7"
  direction="left" loop="infinite" *ngFor="let news of _data.articulos.splice(0,1)">

  <a style="color:red; font-family: Verdana, Geneva, Tahoma, sans-serif  ;font: bold "> Breaking News: <span
      style="color: white"> {{news.title}} </span></a>
</marquee>
<div class="small-top" style="background: black">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 date-sec">
        <div id="Date"></div>
      </div>
      <div class="col-lg-3 offset-lg-5">
        <div class="social-icon"> <a target="_blank" href="#"></a> <a target="_blank" href="#"></a> <a target="_blank"
            href="#"></a> <a target="_blank" href="#"></a> <a target="_blank" href="#"></a> <a style="color:#1e1f2000 "
            target="_blank" href="#" class=" fa fa-vimeo-square"></a> </div>
      </div>
    </div>
  </div>
</div>
<div style="background:#141517; color: white" class="top-head left">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <h1 style="    margin-top: 8px;">The Neoland Post<small
            style="font-size: 15px; color: rgb(195, 195, 195);margin-left: 10px;">
            Actuality in your hand</small></h1>
      </div>
      <div class="col-md-6 col-lg-3 ml-auto admin-bar hidden-sm-down">
        <nav class="nav nav-inline"> <a  [routerLink]="['login']" style="color: white; margin-top: 70px;margin-left: 40px" 
            class="nav-link">LogIn <i class="fas fa-sign-in-alt"></i></a> <a  [routerLink]="['singup']" style="color: white;margin-top: 70px;"
            href="#" class="nav-link">SingUp <i class="fas fa-user-plus"></i></a></nav>

      </div>
    </div>
  </div>
</div>




<section class="top-nav">
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style="    margin-top: 15px;" class="collapse navbar-collapse" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav ">

          <li class="nav-item"> <a class="nav-link" ></a> </li>



          <li class="nav-item"> <a class="nav-link" [routerLink]="['world']">World</a> </li>
          <li  class="nav-item"> <a class="nav-link" [routerLink]="['health']">Health</a> </li>
          <li  class="nav-item"> <a class="nav-link" [routerLink]="['business']" >Business</a> </li>
          <li class="nav-item"> <a   class="nav-link" [routerLink]="['science']"  >Science</a> </li>
          <li  class="nav-item"> <a class="nav-link" [routerLink]="['sports']" >Sports</a> </li>
          <li  class="nav-item"> <a  class="nav-link" [routerLink]="['technology']" >Technology</a> </li>
          <li  class="nav-item"> <a    class="nav-click" [routerLink]="['games']" >Games</a> </li>

        </ul>
        <form class="ml-auto"  action='/search'id='searchthis' method='get' style='display:inline;'>
          <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input id='b-query' name='q' class="search_input" type="text"  placeholder="Search..." />
                
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</section>
