<div id="login-overlay" class="modal-dialog" style="    margin-left: 500px;     margin-top: 120px;  ">
        <div class="modal-content" style="    width: 644px;">
            <div class="modal-header" >
                
                <h4 class="modal-title" id="myModalLabel">The Neoland Post</h4>
            </div>
            <div class="modal-body" style="    width: 644px;">
                <div class="row" style="    width: 644px;">
                    <div class="col-xs-6" style="    margin-left: 44px;">
                        <div class="well">
                            <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                                <div class="form-group">
                                    <label for="username" class="control-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                    <span class="help-block"></span>
                                </div>
                                <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" id="remember"> Remember login
                                    </label>
                                    <p class="help-block">(if this is a private computer)</p>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Login</button>
                                
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6" style="    margin-left: 89px;">
                        <p class="lead">Register now for <span class="text-success">FREE</span></p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> Organize your news</li>
                            <li><span class="fa fa-check text-success"></span> Rate your preferences</li>
                            <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                            <li><span class="fa fa-check text-success"></span> 
                                Receive important </li>
                            <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                            
                        </ul>
                        <p><a [routerLink]="['singup']"class="btn btn-info btn-block">Yes please, register now!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>